@import './constants.css';

/* For Tablets  */
@media screen and (min-width: 540px) and (max-width: 780px) {
      .view {
          width: 600px;
      }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
    height: 80px;
    color: white;
  }
  
  .logo {
    padding: 0 10px;
  }
  
  .brand {
    font-size: 24px;
  }
  
  .icons {
    display: flex;
  }
  
  .icons img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  
  .hamburger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  .navbar.open .hamburger span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  
  .navbar.open .hamburger span:nth-child(2) {
    opacity: 0;
  }
  
  .navbar.open .hamburger span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
  