/* Import constants.css */
@import url('./constants.css');


/*Question number*/
.qnumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 5vw;
    margin: 5vh auto;
    background-color: var(--primary-color);
    border-radius: 6px 6px 6px 6px;
}

.qnumber > p {
    color: white;
    font-size: 2vw;
    padding: 5px;
    text-align: center;
}

/* Mobile */
@media screen and (max-width: 540px) {
    .qnumber {
        width: 70px;
    }
    .qnumber > p{
        font-size: 25px;
    }
}

/*-------------------------------------------*/

/* Question : text*/
.questiontext {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 15vw;
    background-image: url("../assets/questionbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid var(--secondary-color);
    border-radius: 6px 6px 6px 6px;

  }
  
  .text {
    text-align: center; /* Center the text horizontally */
    margin: 0; /* Remove default margin */
    padding: 3vw; /* Add padding for better readability */
    max-width: 100%; /* Ensure text does not overflow */
    max-height: 100%; /* Ensure text does not overflow */
    overflow: hidden; /* Hide text overflow */
    word-wrap: break-word; /* Wrap long words */
    font-size: 3vw; /* Font size based on viewport width */
    color: var(--secondary-color);
  }


/* Question : Answer*/

.questionanswer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionanswer textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 0;
    text-transform: uppercase;
    width: 150%;
    border: 4px solid var(--secondary-color);
    border-radius: 6px 6px 6px 6px;
}

.questionanswer textarea::placeholder{
    opacity: 0.6;
    color: var(--secondary-color);
    padding-left: 100px;
}

/* Mobile */
@media screen and (max-width: 540px) {

    .questiontext {
        margin: 5vh 10vw;
    }

    .text {
        font-size: 6vw;
    }
}

/*-------------------------------------------*/


/* Question answer */
.qanswer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw 15vw;
}

.qanswer input {
    width: 90%;
    height: 3vh; 
    padding: 4.5vh 2vw;
    font-size: 2.2vw;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 6px4
}

/* Styles pour les appareils mobiles */
@media screen and (max-width: 540px) {
    .qanswer {
        margin: 3vh 10vw;
    }

    .qanswer input {
        font-size: 4vw;
    }
}
