/* Import constants.css */
@import url('./constants.css');

.about {
    display: block;
    margin-top: 2%;
    text-align: center;
    line-height: 3vh;
    font-size: 2vh;
    font-weight: 100;
    margin-left: 15%;
    margin-right: 15%;
    list-style: none;
}

.about ul {
    list-style: none;
}    

.formlogin {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.formlogin form input {
    padding: 10px;
    margin: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;
}

.admin {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.admin-form {
    display: flex;

}

.admin input {
    width: 500px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 6px;
}


.answer {
    padding-left: 10px;
}


.adminbuttons button {
    display: block;
    margin-left: 15px;
    margin-top: 4%;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
}

.adminbuttons #delete {
    background-color: #d13535;
}

.adminbuttons #update {
    background-color: #35d13d;
}

