/* Import constants.css */
@import url('./constants.css');

/* Navbar styles */
.navbar {
    position: relative; /* Set position relative */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 20px;
    height: 80px;
    width: 100%;
    color: white;
}


/* Hamburger button */
.hamburger {
    width: 45px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

/* Hamburger bars */
.hamburger span {
    display: block;
    width: 100%;
    height: 6px;
    background-color: #fff;
    border-radius: 20px;
    transition: all .5s ease;
}

/* Hamburger menu */

.hamburgermenu {
    position: fixed;
    top: 80px;
    padding-bottom: 80px;
    left: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    transition: left 0.3s ease;
  }

.hamburgermenu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    list-style: none;
    text-align: center;
    color: lightgrey;
}



.hamburgermenu li {
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding-bottom: 0px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
}


.hamburgermenu li:hover:not(.disabled){
    border-bottom-color: white; 
}

.hamburgermenu .disabled {
    color:rgb(167, 167, 167);
    cursor: not-allowed;
}


.hamburgermenu .line {
    display: inline-flex;
    height: 1px;
    width: 80%;
    border-top: 1px solid white;
}



/* Close button appearance */

.hamburger.close span:first-child {
    transform: translateY(15px) rotate(45deg);
}

.hamburger.close span#mid {
    opacity: 0;
}

.hamburger.close span:last-child {
    transform: translateY(-15px) rotate(-45deg);
}




/* Brand styles */
.brand {
    position: absolute; /* Set position absolute */
    left: 50%; /* Move to the horizontal center */
    transform: translateX(-50%); /* Move back by half of its own width */
    font-size: 48px;
}


/* Icon button styles */

.icons {
    opacity: 1;
    transition: opacity 0.3s ease;
    position: absolute;
    right: 20px; /* Adjust the position from the right side */
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
}

.icons button {
    display: revert;
    background: none;
    border: none;
    cursor: pointer;
    height: auto;
    width: 60px;
    margin-left: 15px; /* Add some margin between buttons */
}

#bt-darkmode {
    visibility: hidden;
}

/* Hide the tooltip by default */

/* Mobile */
@media screen and (max-width: 540px) {
    #bt-darkmode {
        display: none; /* Hide dark mode button on smaller screens */
    }
}
    
